<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Smart ID es un sistema que permitirá a las ciudadanos del país gestionar
             su información personal y agilizar los trámites ante diferentes entidades
              públicas y privadas, al digitalizar información tal como historial
               clínico, cédula de ciudadanía, y certificados de afiliación.
                De esta manera, las personas no tendrán que presentar documentación
                 física a la hora de validar su información frente a entidades como
                  universidades y hospitales.</p>
    </div>
</div>
<div class="video-wrap">
    <video autoplay loop muted class="video">
        <source src="/sources/brid.mp4" type="video/mp4">
    </video>
</div>