body {
    
}

.video-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.video {
    min-width: 100vw;
    min-height: 100vh;
}

.name {
    text-align: center;
    font-size: 1rem;
}

.logo {
    width: 30%;
}

.nav-tabs {
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 10px 10px 10px grey;
}

.card-title {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(121, 121, 121, 0.7);
}

#share_btn {
    text-decoration: none;
}