<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/users/home?tag=overall" id="overall">Overall</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/home?tag=financial" id="financial">Financial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/home?tag=clinical"id="clinical">Clinical</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/home?tag=academic"id="academic">Academic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/home?tag=properties"id="properties">Properties</a>
  </li>
      <div class="nav-item ml-auto">
        {{#if user}}
            <h3 class="nav-item name nav-link">{{name}}</h3>
        {{/if}}
    </div>
</ul>