{{#if error }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="clse" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="ture">&times;</span>
    </button>
</div>
{{/if}}

{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="clse" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="ture">&times;</span>
    </button>
</div>
{{/each}}