{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success_msg}}
        <button type="button" class="clse" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="ture">&times;</span>
        </button>
    </div>
{{/if}}