<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Smart ID</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {{#if user}}
            <a class="nav-item nav-link active" href="/users/home">Home <span class="sr-only">(current)</span></a>
        {{/if}}
        <a class="nav-item nav-link" href="/about">About</a>
    </div>
    <div class="navbar-nav ml-auto">
        {{#if user}}
            <a href="/users/logout" class="nav-item nav-link">Logout</a>
        {{else}}
            <a class="nav-item nav-link" href="/users/signin">SignIn</a>
            <a class="nav-item nav-link" href="/users/signup">SignUp</a>
        {{/if}}
    </div>
  </div>
</nav>