<div class="row m-3">
  	{{#each filtered_certificates}}
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{certifier}}</h4>
					<h5>{{title}}</h5>
					<p>{{description}}</p>
					<a href="#"><i class="fas fa-share-alt" id="share_btn"></i></a>
				</div>
			</div>
		</div>
	{{/each}}
</div>