<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Account Login</h1>
            </div>
            <img src="/sources/logo.png" alt="Smart ID logo" class="logo mx-auto d-block m-4">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">SignIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="video-wrap">
    <video autoplay loop muted class="video">
        <source src="/sources/brid.mp4" type="video/mp4">
    </video>
</div>